
<%- include("../partials/header.ejs", {title : "Ajouter un article"}) %>
<% if(locals.message) { %>
<h1><%= locals.message %></h1>
<% } %>

<a href="/">Retour à la page principale</a>
<%-  include("../partials/footer.ejs") %>

